---
import Layout from '~/layouts/Layout.astro'
import { getSortedPosts } from '~/utils'
import { getCollection, render } from 'astro:content'
import PostPreview from '~/components/PostPreview.astro'
import Pagination from '~/components/Pagination.astro'
import BlockHeader from '~/components/BlockHeader.astro'
import HomeBanner from '~/components/HomeBanner.astro'
import siteConfig from '~/site.config'
import SeriesSection from '~/components/SeriesSection.astro'

const home = await getCollection('home')
let HomeContent
let homeAvatarImage
if (home.length > 0) {
  const homeEntry = home[0]
  const { Content } = await render(homeEntry)
  HomeContent = Content
  homeAvatarImage = homeEntry.data.avatarImage
}
const sortedPosts = await getSortedPosts()
const recentPosts = [...sortedPosts].reverse()
const latestPosts = recentPosts.slice(0, 5)

const postsHaveSeries = sortedPosts.some((post) => post.data.series)
---

<Layout description={siteConfig.description} pageType="website" wide>
  {
    HomeContent && (
      <HomeBanner avatarImage={homeAvatarImage}>
        <HomeContent />
      </HomeBanner>
    )
  }
  {
    latestPosts.length > 0 && (
      <section aria-labelledby="latest-heading">
        <BlockHeader>
          <span id="latest-heading">文章</span>
        </BlockHeader>
        <div class="mt-4">
          {latestPosts.map((post) => (
            <PostPreview post={post} variant="compact" />
          ))}
        </div>
        <div class="flex justify-end">
          <Pagination nextLink="/posts/" nextText="查看全部文章" bare />
        </div>
      </section>
    )
  }
  {
    postsHaveSeries && (
      <section aria-labelledby="series-heading">
        <BlockHeader>
          <span id="series-heading">系列文章</span>
        </BlockHeader>
        <SeriesSection posts={sortedPosts} />
      </section>
    )
  }
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
