---
interface Props {
  text: string
}
const { text } = Astro.props
---

<div class="my-10 border-b border-foreground/10 pb-4 sm:mt-14">
  <h2 class="text-xl font-bold text-foreground">{text}</h2>
</div>
