---
import type { Collation } from '~/types'

interface Props {
  tags: Collation<'posts'>[]
}

const { tags } = Astro.props
---

<div class="flex flex-wrap gap-x-4 gap-y-2 text-sm">
  {
    tags.map((tag) => (
      <a
        href={tag.url}
        class="font-medium text-foreground/68 no-underline transition-colors before:mr-0.5 before:content-['#'] hover:text-accent"
      >
        {tag.title}
      </a>
    ))
  }
</div>
